@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
p {
  @apply text-base;
}

html {
  height: 100%;
}

.text-2xs {
  font-size: 0.5rem;
}

/* 
  
  Potential "Career/Code" page styling :
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); 

  Make body have 100% of the browser height
    https://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height

    */
