.background {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.scrollArea {
  border: solid 1px black;
  height: 50rem;
  width: auto;
  overflow: hidden;
}

.scrollArea.one {
}

.scrollArea.two {
}

.scrollArea.three {
}

.scrollArea.four {
}
