.background {
  background-color: var(--glaucous);
}

.scrollArea {
  border: solid 1px black;
  width: auto;
  overflow: hidden;
}

.scrollArea.one {
}

.scrollArea.two {
}

.scrollArea.three {
}

.scrollArea.four {
}
