.NavButton {
  @apply border-white;
  @apply border-solid;
  @apply border-2;
  @apply h-16;
  @apply w-16;
  @apply rounded-full;
  @apply flex;
  @apply justify-center;

  --outline-color: var(--cream);

  /* --hover-bg-color: var(--cream); */
  --hover-bg-color: #08211c;
  --hover-inner-outline-color: var(--brown);
  --hover-outer-outline-color: var(--brown);

  opacity: 0.6;
  transition: 0.3s;
  border-color: var(--outline-color);
}

.icon {
  @apply self-center;
  @apply text-xl;
  color: var(--outline-color);
  transition: 0.3s;
}

.NavButton:hover {
  background-color: var(--hover-bg-color);
  border-color: var(--hover-outer-outline-color);
  opacity: 1;
  /* box-shadow: 8px 8px 8px 0px var(--hover-bg-color); */
}

.NavButton:hover .icon {
  color: var(--hover-inner-outline-color);
  opacity: 1;
}
